<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Final</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="angular.min.js"></script>
</head>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<script>
    var app = angular.module("myModule", [])
        .controller("myController", function ($scope) {
            $scope.carts = [];
            $scope.products = ["Ekmek","Çikolata", "Domates"];

            $scope.addEkmek = function () {
                    $scope.carts.push("Ekmek");
                
            }
            $scope.addCikolata = function () {
                    $scope.carts.push("Çikolata");
                
            }
            $scope.addDomates = function () {
                    $scope.carts.push("Domates");
                
            }


            $scope.total = 0;

            $scope.setTotals = function (cart) {
                if (cart) {
                    $scope.total += cart.p_price;
                }
            }

            $scope.remove_cart = function ($x) {
                    $scope.carts.splice($x, 1);
                    $scope.total -= cart.p_price;
                
            }
        });

</script>

</head>

<body>
    <div ng-app="myModule" ng-controller="myController">
    <main class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <img src="bm.png" /><br /><br />
            <h4>Erciyes Üniversitesi Bilgisayar Mühendisliği Bölümü Web Programlama 1 dersi final sorusu</h4>
            <h5>Dr. Öğr. Üyesi Fehim KÖYLÜ</h5>
            <h2>Alışveriş Uygulaması</h2>
            <p class="lead">Vermek istediğiniz siparişler için aşağıdaki listeden seçerek adedini belirtiniz.</p>
        </div>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Ekmek</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">2₺ <small class="text-muted">/ adet</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li ng-model = "addEkmek">Somun Ekmek</li>
                            <li>200 gr</li>
                        </ul>
                        <button type="button" ng-click="addEkmek()" class="w-100 btn btn-lg btn-primary">Sepete ekle</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Çikolata</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">5₺ <small class="text-muted">/ adet</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li ng-model = "addCikolata">Bitter Çikolata</li>
                            <li>60 gr</li>
                        </ul>
                        <button type="button" ng-click="addCikolata()"  class="w-100 btn btn-lg btn-primary">Sepete ekle</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Domates</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">6₺ <small class="text-muted">/ adet</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li ng-model = "addDomates">Domates</li>
                            <li>Antalya Sera</li>
                        </ul>
                        <button type="button" ng-click="addDomates()" class="w-100 btn btn-lg btn-primary">Sepete ekle</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Siparişleriniz</span>
                <span class="badge bg-secondary rounded-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li ng-repeat = "cart in carts" ng-init="setTotals(cart)" class="list-group-item d-flex justify-content-between lh-sm">
                    {{cart}}
                    <span ng-click="remove_cart($index)">x</span>
                    <div>
                        <h6 class="my-0">{{cart.p_name}}</h6>
                    </div>
                    <span class="text-muted">{{cart.p_price}}₺</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">İndirim kuponu</h6>
                        <small>erciyes-bilgisayar</small>
                    </div>
                    <span class="text-success">1₺</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Toplam fiyat</span>
                    <strong>0₺</strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
            </form>
        </div>
    </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© Fehim KÖYLÜ Erciyes Üniversitesi Bilgisayar Mühendisliği Bölümü</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Bölüm sayfası</a></li>
                <li class="list-inline-item"><a href="#">Alışveriş kuralları</a></li>
                <li class="list-inline-item"><a href="#">Destek</a></li>
            </ul>

        </footer>
    </main>
</body>

</html>